body {
  margin: 0;
  padding: 0;
}

#home{
  background-color:rgb(12, 145, 72);
  background-attachment: scroll;
  background-position: top;
  height: 15cm;
  background-size:cover ;
  padding-top: 1cm;
}
 .menu{
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #f2f2f2;
    border-radius: 10px;  
    margin-left: 1cm;
    margin-right: 2cm;  
    padding-top: 2px;
  }
  
  li {
    float: inline-start;
  }
  
  li a {
    display: block;
    color: rgb(90, 89, 89);
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  #VisualizingCancer{
    margin-top: 0.7cm;
    margin-left: 1cm;
    margin-right: 5cm;
    color: rgb(12, 145, 72);

  }
  .hero-title{
    text-align: center;
    margin-top: 4cm;
    color: white;
  }
  .under-hero-title{
    color: white;
    text-align: center;
    font-family:"Open Sans",Sans-serif ;

  }
  .menu .bar a:hover {
    color: green;
  }
  .bar{

    font-family:"Open Sans",Sans-serif ;
  }
  
h1.hero-title{
  font-family: "Montserrat",sans-serif;
  line-height: 1.5;
   
}
